In [12]:
import warnings
warnings.filterwarnings('ignore')

In [13]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [14]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [15]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [16]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [53]:
# Create our features
df_encoded = pd.get_dummies(df, columns=["home_ownership","verification_status","pymnt_plan","hardship_flag", "debt_settlement_flag", "issue_d", "initial_list_status","next_pymnt_d","application_type"])

X = df_encoded.drop("loan_status", axis = 1)


# Create our target
y = pd.DataFrame(df_encoded["loan_status"])
y

      loan_status
0        low_risk
1        low_risk
2        low_risk
3        low_risk
4        low_risk
...           ...
68812    low_risk
68813    low_risk
68814    low_risk
68815    low_risk
68816    low_risk

[68817 rows x 1 columns]

In [54]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,debt_settlement_flag_N,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,1.0,0.371696,0.451066,0.177238,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.0,0.483261,0.497603,0.381873,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,1.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.0,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,debt_settlement_flag_N,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
39692,10000.0,0.1131,328.86,49000.0,24.54,0.0,0.0,10.0,1.0,6580.0,...,1,0,1,0,0,1,0,1,1,0
37830,21000.0,0.1072,684.74,57400.0,34.52,0.0,0.0,12.0,0.0,18688.0,...,1,0,1,0,0,1,0,1,1,0
64531,35000.0,0.0881,1109.90,180000.0,3.01,0.0,2.0,7.0,0.0,836.0,...,1,0,1,0,0,1,0,1,1,0
28730,20000.0,0.0819,628.49,80000.0,26.51,0.0,0.0,15.0,0.0,2615.0,...,1,1,0,0,0,1,0,1,1,0
35102,12600.0,0.1356,427.96,71000.0,22.38,1.0,2.0,7.0,0.0,9073.0,...,1,1,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18872,35000.0,0.0881,1109.90,400000.0,13.79,0.0,1.0,17.0,1.0,7810.0,...,1,1,0,0,0,1,1,0,1,0
6415,16800.0,0.0881,532.76,31000.0,20.48,0.0,0.0,3.0,0.0,1867.0,...,1,0,0,1,0,1,0,1,1,0
12632,25000.0,0.1102,818.71,90000.0,15.27,1.0,0.0,18.0,0.0,26106.0,...,1,1,0,0,0,1,1,0,1,0
24022,14000.0,0.1072,456.49,180000.0,12.35,2.0,0.0,10.0,0.0,3601.0,...,1,1,0,0,0,1,0,1,1,0
44756,15000.0,0.0702,463.30,89000.0,13.30,0.0,0.0,7.0,0.0,2027.0,...,1,0,1,0,0,1,1,0,1,0

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [44]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import balanced_accuracy_score
clf = BalancedRandomForestClassifier(n_estimators=100,random_state=1)
clf.fit(X_train, y_train) 
y_pred = clf.predict(X_test)

In [45]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.797618759845454

In [46]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   61,    26],
       [ 1813, 15305]])

In [47]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.70      0.89      0.06      0.79      0.61        87
   low_risk       1.00      0.89      0.70      0.94      0.79      0.64     17118

avg / total       0.99      0.89      0.70      0.94      0.79      0.64     17205

In [57]:
# List the features sorted in descending order by feature importance
sorted(zip(clf.feature_importances_, X.columns), reverse=True)

[(0.0675238488703844, 'total_rec_prncp'),
 (0.06291752472134025, 'last_pymnt_amnt'),
 (0.06258249012125701, 'total_rec_int'),
 (0.057119640391187436, 'total_pymnt_inv'),
 (0.051625622668786744, 'total_pymnt'),
 (0.025275585828051256, 'int_rate'),
 (0.021388029074852377, 'issue_d_Jan-2019'),
 (0.020206736893220768, 'out_prncp'),
 (0.0194702405617641, 'out_prncp_inv'),
 (0.017876209689848387, 'mths_since_recent_inq'),
 (0.016872455248128634, 'installment'),
 (0.016695395240525063, 'dti'),
 (0.016627659490683944, 'max_bal_bc'),
 (0.0156406093931021, 'revol_bal'),
 (0.015585347684728025, 'mths_since_rcnt_il'),
 (0.01558275113772005, 'bc_util'),
 (0.01440607143349763, 'mo_sin_old_il_acct'),
 (0.014384176751135447, 'mo_sin_old_rev_tl_op'),
 (0.01425061061560041, 'bc_open_to_buy'),
 (0.014183191772081749, 'il_util'),
 (0.013975143520333856, 'total_bal_ex_mort'),
 (0.013667155469568447, 'avg_cur_bal'),
 (0.013653450177691519, 'total_bc_limit'),
 (0.013548588543358544, 'annual_inc'),
 (0.013487772388505632, 'all_util'),
 (0.013390117539099073, 'issue_d_Mar-2019'),
 (0.013240299009993597, 'loan_amnt'),
 (0.01302096931521751, 'mths_since_recent_bc'),
 (0.012845263283620479, 'total_rev_hi_lim'),
 (0.012558820375478664, 'tot_hi_cred_lim'),
 (0.012356142399034637, 'total_bal_il'),
 (0.011583214582677068, 'mo_sin_rcnt_rev_tl_op'),
 (0.011316315460352047, 'num_rev_accts'),
 (0.010400396322981682, 'total_il_high_credit_limit'),
 (0.010390686902145752, 'open_acc'),
 (0.01025678427704582, 'tot_cur_bal'),
 (0.010253623688414967, 'total_acc'),
 (0.010049739018121373, 'pct_tl_nvr_dlq'),
 (0.009407358105623528, 'num_il_tl'),
 (0.009241137895828942, 'acc_open_past_24mths'),
 (0.009000860472024762, 'mo_sin_rcnt_tl'),
 (0.008660160372902934, 'num_op_rev_tl'),
 (0.00844477397331685, 'inq_last_12m'),
 (0.008372019202989925, 'num_actv_bc_tl'),
 (0.008074416935597246, 'num_actv_rev_tl'),
 (0.007938588634662956, 'num_bc_sats'),
 (0.007896043337432167, 'num_rev_tl_bal_gt_0'),
 (0.007885350039469012, 'num_sats'),
 (0.007699646028295758, 'total_cu_tl'),
 (0.007566872216071172, 'num_bc_tl'),
 (0.0073376998669249585, 'mort_acc'),
 (0.007020637774685895, 'inq_last_6mths'),
 (0.007016306410476458, 'open_acc_6m'),
 (0.006849451403056115, 'total_rec_late_fee'),
 (0.006758731390611144, 'percent_bc_gt_75'),
 (0.006538871249731294, 'open_act_il'),
 (0.006351832016278929, 'num_tl_op_past_12m'),
 (0.005888772877988338, 'inq_fi'),
 (0.005389037854973424, 'open_rv_12m'),
 (0.005345448422913544, 'open_rv_24m'),
 (0.0052097791995297646, 'open_il_24m'),
 (0.00520112598681975, 'delinq_2yrs'),
 (0.00477796785921408, 'next_pymnt_d_Apr-2019'),
 (0.004621981055892167, 'open_il_12m'),
 (0.0039180830398562825, 'next_pymnt_d_May-2019'),
 (0.0034466723850709717, 'issue_d_Feb-2019'),
 (0.0033297850460678622, 'num_accts_ever_120_pd'),
 (0.0031107258296794033, 'verification_status_Verified'),
 (0.002987438655293988, 'tot_coll_amt'),
 (0.002529789719854494, 'verification_status_Source Verified'),
 (0.0024640160714207186, 'home_ownership_OWN'),
 (0.002252855521306221, 'home_ownership_RENT'),
 (0.001715155106205543, 'initial_list_status_f'),
 (0.0016896694316552393, 'verification_status_Not Verified'),
 (0.00132884171733755, 'pub_rec_bankruptcies'),
 (0.0013232431677677016, 'home_ownership_MORTGAGE'),
 (0.0011368342964212339, 'application_type_Individual'),
 (0.001057751321501494, 'application_type_Joint App'),
 (0.0010515996076379361, 'pub_rec'),
 (0.0007594516955934416, 'num_tl_90g_dpd_24m'),
 (0.0006143813984071674, 'initial_list_status_w'),
 (0.0002595204908901767, 'collections_12_mths_ex_med'),
 (0.00019468729255993418, 'home_ownership_ANY'),
 (0.00012594776062506606, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [58]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.metrics import balanced_accuracy_score
eec = EasyEnsembleClassifier(n_estimators=100,random_state=1)
eec.fit(X_train, y_train) 
y_pred = eec.predict(X_test)

In [59]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.925514985234337

In [60]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   79,     8],
       [  976, 16142]])

In [61]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.93      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.93      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.93      0.86     17205